body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    background-position: center;
   
    padding: 0;
    background-image:  url(../img/closeup-waiter-taking-order-touchpad-while-talking-guest-pub.jpg)
    
    
    }

header {
    background-color: #5b4f3d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

main {
    padding: 20px;
}

.form-section {
    background-color: #baaf9f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #8c7b63; /* cor de fundo do botão */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #938c8e; /* cor de fundo do botão ao passar o mouse */
}
/* 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
} */
